#title-bar {
  -webkit-app-region: drag;
  height: 60px;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  margin:0;
  cursor:pointer;
}

#title {
  position: fixed;
  top: 0;
  text-align: center;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  color:white;
  border-bottom: 1px solid black;
  z-index: 1000;

}

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0px;
  right: 6px;
  z-index: 1001;
}

